body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #F9F9F9;
}
canvas{
border-radius: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#Elements{
    width: 120px;
    height: auto;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}


